body {
	background-color: red;
	font-family: Calibri, Arial, "sans-serif";
	font-weight: 100;
	margin: 0 auto;
	max-width: 60em;
}
h1{
	color: black;
	font-family: Verdana;
}
h2{
	color: black
	font-family: Verdana;
}
h3{
	color: black;
	font-family: Verdana;
}
.info{
	color: black
	font-family: Times;
	font-size: 16px;
	background-color: yellow;
}
img{
	height: 170px;
	width: 170px;
	box-shadow: rgba(0,0,0,0.2) 10px 10p;
}
h4{
	color: #2E2EFE
	font-family: Cursive;
}
li{
	color: #2E2EFE
	font-family: Cursive;
}
a{
	color: #088A29
	font-family: Cursive:
}
	